.photo-grid {
  padding-bottom: 92px;
  margin: auto;
  max-width: 1184px;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    padding: 0 48px 92px;
  }
}

@media screen and (max-width: 950px) {
  .photo-grid {
    padding: 0 24px 92px;
  }
}

@media screen and (max-width: 550px) {
  .photo-grid {
    padding: 0 16px 92px;
  }
}
