.header {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  max-width: 1184px;
  padding: 28px 48px 0;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 28px 28px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 0;
  }
}
