.content {
  width: calc(100% - 148px * 2);
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .content {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: calc(100%);
  }
}
