.lead__title {
  display: block;
  max-width: 720px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: white;
  margin: 62px auto 32px auto;
  text-align: center;
}
