.intro__text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 900px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 550px) {
  .intro__text {
    max-width: 500px;
  }
}

@media screen and (max-width: 330px) {
  .intro__text {
    max-width: 288px;
  }
}
