.lead__caption {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 400px) {
  .lead__caption {
    margin-left: 16px;
  }
}
