.place {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    "title website"
    "image paragraphs";
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-of-type {
  padding-bottom: 92px;
}
