.place {
  margin: 0 148px 80px 148px;
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  grid-template-areas:
    "title url"
    "title link"
    "image paragraph1"
    "image paragraph2";
  align-items: flex-end;
}
