.intro__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #ffffff;
  margin: 92px 0 40px 0;
  max-width: 720px;
}

@media screen and (max-width: 550px) {
  .intro__title {
    max-width: 500px;
    font-size: 46px;
    line-height: 1.08;
  }
}

@media screen and (max-width: 370px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
